<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Q&A 게시판 - 상세보기</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>간단한 지도 표시하기</title>
  <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>

<body>

<div th:insert="/nav :: nav"></div>

  <div class="container">
    <h3><strong>Q&A</strong></h3>
    <p>사이트 이용 불편사항이나 질문사항을 올려주세요</p>
    <div class="container" style="margin-top: 3rem;">
      <div class="btn-group">
        <button class="btn btn-secondary" style="font-size: 1.0rem;" onclick="history.back()">돌아가기</button>
          <a th:href="|/qna/update/${board.id}|" style="font-size: 1.0rem;" class="btn btn-warning">수정</a>
          <button id="btn-delete" style="font-size: 1.0rem;" class="btn btn-danger">삭제</button>
      </div>
      <br> <br>
      <div>
        글번호 <span id="id"><i th:text="${board.id}"></i></span> 작성자 <span><i th:text="${board.writer}"> </i></span> 조회수 <span><i th:text="${board.count}"> </i></span> </span>작성시간 <span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
      <div>
        <h3 th:text="${board.title}"></h3>
      </div>
      <hr>
      <div>
        <div th:utext="${board.content}"></div>
      </div>
      <hr />
      <div class="card">
          <input type="hidden" id="qnaId" th:value="${board.id}" />
          <div class="input-group mb-3">
           <span class="input-group-text">내용</span>
           <textarea id="reply-content" th:rows="8" class="form-control col" maxlength="2000"></textarea>
          </div>
        <div class="input-group mb-3">
            <span class="input-group-text">작성자</span>
            <input type="text" class="form-control col" placeholder="Enter Writer" id="rWriter" required>
          <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
        </div>
      </div>
      <div class="card">
        <div class="card-header">댓글리스트</div>
        <ul id="reply-box" class="list-group">
          <th:block th:each="reply: ${board.reply}">
            <li th:id="|reply-${reply.id}|" class="list-group-item d-flex justify-content-between">
              <div th:text="${reply.content}"></div>
              <div class="d-flex">
                <div class="font-italic"><h6 style="padding-top: 5px; padding-left: 10px; padding-right: 10px;"th:text="|작성자: ${reply.writer} |"></h6> </div>
                  <button th:onclick="|updateViewBtn(${reply.id})|" id="btn-reply-update" class="badge" style="color: black;">수정</button>
                  <button th:onclick="|btnReplyDelete(${reply.id})|" class="badge" style="color: black;">삭제</button>
                <div><h6 style="padding-top: 5px; padding-left: 10px;" th:text="${#temporals.format(reply.createDate, 'yyyy-MM-dd HH:mm')}"></h6></div>
              </div>
            </li>
          </th:block>
        </ul>
      </div>
    </div>
  </div>

  <div class="jumbotron text-center" style="margin-bottom: 0">
    <p>Created By Yong</p>
    <p>📞 010-5023-2463</p>
    <p>🏴 경기도 고양시 일산서구</p>
  </div>
      <script>
        $(function () {
          $("#btn-reply-save").on("click", () => {
            if ($("#reply-content").val() == "") {
              alert('내용을 입력하세요');
              return false;
            }
            if ($("#rWriter").val() == "") {
              alert('작성자를 입력하세요');
              return false;
            }
            let data = {
              qnaId: $("#qnaId").val(),
              content: $("#reply-content").val(),
              writer: $('#rWriter').val()
            }
            console.log(JSON.stringify(data));
          fetch(`/api/qna/${data.qnaId}/reply`, {
            body: JSON.stringify(data),
            headers:{"Content-Type": "application/json"},
            method: "POST"
          })
          .then((res) => {
            if(res.ok) {
              alert("댓글작성이 완료되었습니다.");
              location.href = `/qna/${data.qnaId}`;
            } else {
              throw Error("알수 없는 오류가 발생했습니다.")
            }
          })
          .catch((err) => alert(err))
          })

          $('#btn-delete').on('click', () => {
              let qnaId = $('#qnaId').val();

              fetch(`/qna/${qnaId}`, {
                method: "DELETE"
              })
              .then((res) => {
                if(res.ok) {
                  alert('게시글이 삭제되었습니다.');
                  location.href="/qna"
                }
              })
              .catch(err => alert(err));
          })

          $(document).on("click", '#btn-reply-success', (e) =>{
               // e.stopPropagation()
               if($('#reply-editContent').val() == '') {
                 alert("콘텐츠를 입력해주세요");
                 return false;
               }

               let data = {
                 qnaId: $('#qnaId').val(),
                 replyId: $('#replyId').val(),
                 content: $('#reply-editContent').val()
               }

               fetch(`/api/qna/${data.qnaId}/reply/${data.replyId}`, {
                 body: JSON.stringify(data),
                 headers:{"Content-Type": "application/json"},
                 method: "PUT"
               })
               .then((res) => {
                 if(res.ok) {
                    alert("댓글 수정이 완료되었습니다.")
                   location.href=`/qna/${data.qnaId}`
                 } else {
                   new Error("이상해요");
                 }
               })
               .catch((err) => alert(err))
          })
        })

       async function btnReplyDelete(replyId) {
           let response =  await fetch(`/reply/${replyId}`, {
               method: 'DELETE',
             })
             if(response.ok) {
               alert('정상적으로 삭제되었습니다.')
               location.href="/qna/"+$('#qnaId').val()
             } else {
               new Error('잘못한듯요')
             }
        }


        function updateViewBtn(replyId) {
          var htmls =
            "<form>"+
               "<div id='reply-"+replyId+"' class='list-group-item d-flex justify-content-between'>" +
                 "<input type='hidden' id='replyId' value='"+replyId+"'>"+
                 "<div class='card-body'>"+
                    "<textarea id='reply-editContent' class='form-control' rows='1' cols=''></textarea>"+
                    "<button type='button' id='btn-reply-success' class='badge' style='color: black'>완료</button>"+
                 "</div>"+
               "</div>"+
            "</form>";

          $("#reply-" +replyId).replaceWith(htmls);
        }
      </script>
</body>

</html>