<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>조추첨</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1wjo4eezo5"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .inputbox {
            margin-right: 5px;
        }
        textarea {
            resize: none;
            overflow: hidden;
        }
        .list-group-item {
            font-weight: bold;
            text-decoration: none;
        }
        #inputbox3 {
            margin-left: 5px;
        }
        #inputbox4 {
            margin-left: 5px;
        }
        #inputbox5 {
            margin-left: 5px;
        }
    </style>
</head>

<body>

<div th:insert="/nav :: nav"></div>

<div class="container" style="margin-top: 20px;">
    <h3 style="display: inline;"><strong>조추첨</strong></h3>

    <button
            style="float: right"
            class="btn btn-success"
            onclick="resetFunction();"
    >
        리셋
    </button>
    <div class="input-group" style="width: 100px; float: right; margin-right: 10px">
        <span class="input-group-text">수</span>
        <select class="form-select" id="countNum">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        </div>
    <hr>
    <p>√ 한 줄에 하나의 키워드를 입력해주세요.</p>
    <p>√ 하나의 textarea는 10개까지 입력 가능합니다. 10개를 초과할 경우 textarea를 추가해주세요.</p>
    <p>√ textarea는 총 5개까지 가능합니다.</p>
    <p>√ 키워드는 4개 이상 입력해주세요. (중복된 키워드는 자동제거)</p>

    <div id="inputBlock">
        <textarea
                class="inputbox"
                id="inputbox1"
                cols="30"
                rows="10"
        ></textarea>
    </div>
    <div style="margin-top: 10px">
        <h5 id="textLength" style="display: inline; font-weight: bold">조추첨 결과</h5>
        </hr>
                <button
                        style="float: right"
                        id="keyWordBtn"
                        class="btn btn-primary"
                        onclick="keywordSpilt();"
                >
                    키워드 조합
                </button>
    </div>
    <br><hr>
        <ul class="list-group" id="key">
        </ul>

    <button id="areaAdd" class="btn btn-warning">textarea 추가</button>
    <button id="areaDelete" class="btn btn-danger">textarea 제거</button>
</div>
<script>
    $(function () {
        let sId = 1;
        $(document).on("click", "#areaAdd", () => {
            // textarea 최대 5개
            if (sId === 5) {
                alert("더이상 추가 하실 수 없습니다.");
                return false;
            }

            $("#inputBlock").append(
                `<textarea class="inputbox" id='inputbox${++sId}' cols='30' rows='10'></textarea>`
            );
        });

        $(document).on("click", "#areaDelete", () => {
            // textarea 최소 1개
            if (sId === 1) {
                alert("더이상 제거 하실 수 없습니다.");
                return false;
            }
            --sId;
            $("#inputBlock :last-child").remove();
        });
    });

    function keywordSpilt() {
        $("#key").html("");
        let str = [];
        let inputbox = $(".inputbox");
        // textarea에 아무값도 입력하지 않았을 경우 validation
        if (inputbox.val().length == 0) {
            alert("키워드를 입력해주세요.");
            return false;
        }
        // textarea의 한줄씩 가져와서 배열에 넣기
        $.each(inputbox, (i, item) => {
            let items = $(item).val().split("\n");
            $.each(items, (i, result) => {
                // 공백이 아니라면
                if (result != "") {
                    str.push(result);
                }
            });
        });

        // 배열 중복제거
        let strDup = str.filter((val, idx) => {
            return str.indexOf(val) === idx;
        });

        if (strDup.length < 4) {
            alert("키워드를 4개 이상 입력해주세요. (중복된 키워드 자동 제거)");
            return false;
        }
        // 배열 랜덤 섞기
        shuffle(strDup);

        let countNum = $('#countNum').val();
        // n개씩 분할 n개 이하일 경우 나머지로 구성
        let combi = division(strDup, countNum);
        console.log(combi);
        $.each(combi, (i, com) => {
            // index를 알파벳으로 변경
            switch (i) {
                case 0:
                    i = 'A';
                    break;
                case 1:
                    i = 'B';
                    break;
                case 2:
                    i = 'C';
                    break;
                case 3:
                    i = 'D';
                    break;
                case 4:
                    i = 'E';
                    break;
                case 5:
                    i = 'F';
                    break;
                case 6:
                    i ='G';
                    break;
                case 7:
                    i = 'H';
                    break;
                case 8:
                    i ='I';
                    break
                case 9:
                    i = 'J';
                    break;
                case 10:
                    i = 'K';
                    break;
                case 11:
                    i = 'L';
                    break;
                case 12:
                    i = 'M';
                    break;
                case 13:
                    i = 'N';
                    break;
                case 14:
                    i = 'O';
                    break;
                case 15:
                    i = 'P';
                    break;
                case 16:
                    i = 'Q';
                    break;
                case 17:
                    i = 'R';
                    break;
                case 18:
                    i = 'S';
                    break;
                case 19:
                    i = 'T';
                    break;
                case 20:
                    i = 'U';
                    break;
                case 21:
                    i = 'V';
                    break;
                case 22:
                    i = 'W';
                    break;
                case 23:
                    i = 'X';
                    break;
                case 24:
                    i = 'Y';
                    break;
                case 25:
                    i = 'Z';
                    break;
            }

            $("#key").append(
                `<li class='list-group-item'>${i}조:  ${com.toString().replaceAll(",", " ")}</li>`
            );
        });

    }
    // 순열조합
    // function getCombinations(arr, selectNumber) {
    //     const results = [];
    //     if (selectNumber === 1) return arr.map((value) => [value]);
    //
    //     arr.forEach((fixed, index, origin) => {
    //         const rest = origin.slice(index + 1);
    //         const combinations = getCombinations(rest, selectNumber - 1);
    //         const attached = combinations.map((combination) => [
    //             fixed,
    //             ...combination,
    //         ]);
    //         results.push(...attached);
    //     });
    //     return results;
    // }

    // n개씩 나누기
    const division = (arr, numbers) => {
        const length = arr.length;
        const divide = Math.floor(length / numbers) + (Math.floor(length % numbers) > 0 ? 1 : 0);
        const newArray = [];
        for(let i=0; i < divide; i++) {
            newArray.push(arr.splice(0, numbers));
        }
        return newArray;
    }

    // 배열 섞기
    function shuffle(arr) {
        for (let i = arr.length - 1; i > 0; i--) {
            let j = Math.floor(Math.random() * (i + 1));
            [arr[i], arr[j]] = [arr[j], arr[i]];
        }
    }
    // 리셋하기
    function resetFunction() {
        location.reload();
    }
</script>
<div th:insert="/footer :: div"></div>

</body>

</html>